@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400&display=swap');

/* geral */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    color: white;
    background: #140D4F;
    
}


body {
  background: #140D4F;
  padding-top: 5vh;  /* --> 5% da tela */
}


h1 {
    color: #82DDF0;
    font-size: 1.6rem; /* Adaptada ao elemento root. Ou seja, 1.6 vezes a mais*/
    font-weight: 50;
    text-align: center;
    margin-bottom: 25px;
}

  input, label {
    display: block;
    width: 100%;
    
  }

  input {
    background: #5296A5;
    color: #372C2C;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 30px;
  }

  input::placeholder {
    color: #372C2C;
    font-weight: 5;
  }

  input:invalid {
    border-color: rgb(231, 104, 104);
  }

  input:valid {
    border-color: #5296A5 !important;
    
  }

  input:focus {
    outline: none;
    border-color: #5296A5 !important ;
  }

 

  select {
    background: #5296A5;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
    
  }

   #btn-submit {
    width: 200px;
    height: 80px;
    border: 1 solid bold;
    color: #1C0B19;
    margin-top: 30px;
    cursor: pointer;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;  
   }

 
 

  /* form */

  #main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;    
  }

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.full-box {
    flex: 1 1 100%;
    position: relative;
  }

  .half-box {
    flex: 1 1 45%;    
  }

  .spacing {
    margin-right: 2.5%;
  }

  #number {
    width: 120px;
  }
 

 .container {
    display: flex;
    border: 1px solid #5296A5;  
    margin-top: 30px;
    box-sizing: border-box;
    flex-wrap: wrap;
 
    padding: 35px;
}

   .itens {
    margin-top: 30px;
   }

.container .list {
  margin-top:40px;
  display:flex;
  justify-content:center;
  flex-wrap:wrap; 
  
}


.form-element input {
  display:none;
}


.form-element label {
  width:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  height:100%;
  cursor:pointer;  
  box-shadow:0px 5px 20px 2px rgba(0,0,0,0.1);
  text-align:center;
  transition:all 200ms ease-in-out;
  border-radius:5px;
  margin: 5px;
  
}

.form-element img {
  border-radius: 10px;
  
}


.form-element input:checked + label:before {
  opacity:1;
  transform:scale(1);
}



.form-element input:checked + label {  
  background: #5296A5;
  
}


@media only screen  and (min-width: 100px) and (max-width: 500px) {
 
  #main-container {
    width: 80%;
  }

  .full-box input {
    height: 40%;
    
  } 

  
}